<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons//apple-icon.png">
    <link rel="apple-touch-icon" href="/static/img/favicons/logo192.png" />
    <link rel="apple-touch-icon" href="/static/img/favicons/logo512.png" />
    <link rel="icon" type="image/png" href="/static/img/favicons//favicon.png">
    <link rel="shortcut icon" sizes="64x64" href="/static/img/favicons//favicon.ico" />
    <link rel="shortcut icon" sizes="48x48" href="/static/img/favicons//favicon48.ico" />
    <link rel="shortcut icon" sizes="32x32" href="/static/img/favicons//favicon32.ico" />
    <link rel="shortcut icon" sizes="16x16" href="/static/img/favicons//favicon16.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Лаборатория сенсорного анализа ОНАПТ
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/paper-kit.min.css?v=2.3.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/static/demo/demo.css" rel="stylesheet" />

    <!-- Script for ReadMoreLess -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <!-- End Script for ReadMoreLess -->

    <link href="/static/css/footer.css" rel="stylesheet" />
    <link href="/static/css/read-more-less.css" rel="stylesheet" />
    <link href="/static/css/media-query.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/google-translate.css">

</head>

<body class="index-page sidebar-collapse page_fix">

    <!-- Preloader -->
    <div id="preloader"
        style='position: fixed; left: 0; top: 0; right:0; bottom:0; background: #f8f8f8; z-index: 100000;'>
        <div>
            <img src='/static/img/preloader/preloader.gif'
                style='position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 100%; max-height: 100%;'>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Top Nav -->
    <div style='z-index: 2; position: absolute;' class='fixed-top'>
        <footer id='top-footer' style='background: transparent; z-index: 2; padding: 0;'
            class='footer footer-big footer-black nav-down'>
            <div class='container'>
                <div class='row'>
                    <nav class='footer-nav'>
                        <div style='padding: 7px 0 0 0'>
                            <a id='aFooterNav' id='brand' style='font-weight: 600;' href='/' target='_self' class='mr-1'
                                title='Лаборатория сенсорного анализа ОНАПТ' data-toggle="tooltip"
                                data-placement="bottom">
                                LSA ONAFT
                            </a>
                        </div>
                    </nav>
                    <div class='credits ml-auto'>
                        <nav class='footer-nav'>
                            <ul>
                                <li>
                                    <a id='aFooterNav' title='Like us on Facebook' data-toggle="tooltip"
                                        data-placement="bottom"
                                        href="https://www.facebook.com/groups/1887286424849270/?ref=share"
                                        target="_blank" class="mr-1">
                                        <i class='fa fa-facebook-square'></i>
                                    </a>
                                </li>
                                <li>
                                    <a id='aFooterNav' title='Follow us on Instagram' data-toggle="tooltip"
                                        data-placement="bottom" href="https://www.instagram.com/lsa_onaft/"
                                        target="_blank" class="mr-1">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li style='width: 115px'>
                                    <div class="form-group" style='margin-top: 5px;'>
                                        <select id='select-language' class='selectpicker' data-size='3'
                                            data-style="btn btn-outline-neutral">
                                            <option value="ru">RU</option>
                                            <option value="ukr">UKR</option>
                                            <option value="eng">ENG</option>
                                            >
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- End Top Nav -->


    <!-- Header -->
    <div class="page-header section-dark" data-parallax="true" style="background-image: url('/static/img/main.jpg')">
        <img id='picOfWine' style='margin: 70px 0 0 0; width: 28vh' src=/static/img/Бокал.gif> <div class="filter">
    </div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div class='motto text-center'>
                    <h1 style='font-size: 5.5vmin; font-weight: 300; line-height: 1.2; text-transform: uppercase;'>
                        ЛАБОРАТОРИЯ </br><span style='text-transform: uppercase; font-size: 4.5vmin; font-weight: 300'>
                            СЕНСОРНОГО АНАЛИЗА ОНАПТ</span></h1>
                </div>
            </div>
            <h2 style='font-size: 2.25vmin;' class="presentation-subtitle text-center">Создана при содействии семьи
                Иукуридзе</h2>
        </div>
    </div>
    </div>
    <!-- End Header -->

    <div class='wrapper'>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg nav-down bg-primary sticky-top">
            <div class="container">
                <div class="navbar-translate">
                    <a class="navbar-brand" href="#">Меню</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-primary">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'articles_list' %}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about_us' %}">О нас</a>
                        </li>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton"
                                href="#pk" role="button" aria-haspopup="true" aria-expanded="false">Учебная
                                деятельность</a>
                            <ul class="dropdown-menu dropdown-info dropdown-menu-right"
                                aria-labelledby="dropdownMenuButton">
                                <li class="dropdown-header">Учебная деятельность</li>
                                <a class="dropdown-item" href="{% url 'educational_program' %}">Образовательная
                                    программа</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'training' %}">Повышение квалификации</a>
                            </ul>
                        </div>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton"
                                href="#pk" role="button" aria-haspopup="true" aria-expanded="false">Научная
                                деятельность</a>
                            <ul class="dropdown-menu dropdown-info dropdown-menu-right"
                                aria-labelledby="dropdownMenuButton">
                                <li class="dropdown-header">Научная деятельность</li>
                                <a class="dropdown-item" href="#pk">Проекты</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#pk">R&D-проекты</a>
                            </ul>
                        </div>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton"
                                href="#pk" role="button" aria-haspopup="true" aria-expanded="false">Архив</a>
                            <ul class="dropdown-menu dropdown-info dropdown-menu-right"
                                aria-labelledby="dropdownMenuButton">
                                <li class="dropdown-header">Архив</li>
                                <a class="dropdown-item" href="/photoGallery">Фотогалерея</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'video_list' %}">Видеогалерея</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#itemsNews">Новости и анонсы</a>

                            </ul>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/feedback">Обратная связь</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <!-- Alert Desktop -->
        <div style='height: 100%'>
            <div style='position: fixed; top: 60px; left: 20px; z-index: 1200;'>
                <div id='alertDesktop' class="card">
                    <div class="card-body" style='width: 20rem; padding: 25px 20px; text-align: center;'>
                        <h6 class="card-category">Бокал по типу вина</h6>
                        <div class="card-icon card-category">
                            <i class="nc-icon nc-tap-01"></i>
                        </div>
                        <div style='position: absolute; top: 20px; right: 20px; '>
                            <button id='close1' class='close' aria-label="Close" type='button'
                                onclick=toggleAlertDesktop()>×</button>
                        </div>
                        <div class='card-text'>
                            Подберите бокал для вина. Правильно выбранная форма бокала позволяет отразить особый
                            характер вина.
                        </div>
                        <!-- <button class='btn btn-round card-link btn-danger'  href='#pablo'>
                            <i aria-hidden=true class="fa fa-glass"></i>
                            Подобрать
                     </button>                  -->
                        <div class="card-footer">
                            <a href="{% url 'wines' %}" class="btn btn-danger btn-round card-link">
                                <i class="fa fa-glass" aria-hidden="true"></i> Подобрать
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function toggleAlertDesktop() {
                var buttonVisibleAlert = document.getElementById("alertDesktop");
                if (buttonVisibleAlert.style.display === "none") {
                    buttonVisibleAlert.style.display = "block";
                } else {
                    buttonVisibleAlert.style.display = "none";
                }
            };
        </script>
        <!-- End Alert Desktop -->

        <!-- Alert Mobile -->
        <div id='divAlertMobile' style='margin-top: 10px; margin-bottom: -80px; padding: 0 5px; text-align: center;'>
            <div id='alertMobile' class='card' data-background='color' data-color='green'>
                <div class='card-body'>
                    <div class='card-title card-category' style='text-align: center'>
                        <h6>Бокал по типу вина</h6>
                    </div>
                    <span class='category-social pull-right'>
                        <div style='position: absolute; top: 10px; right: 10px'>
                            <button style='color: white' aria-label="Close" class="close" type="button"
                                onClick=toggleAlertMobile()>
                                ×
                            </button>
                        </div>
                    </span>
                    <a href="{% url 'wines' %}">
                        <button id='close2' style='margin-top: 10px; opacity: 0.8' width='100%'
                            class="btn btn-round-2 card-link btn-success">
                            <div class="mini-card-icon" style='width: 150px'>
                                <i aria-hidden='true' class="nc-icon nc-tap-01"></i>
                            </div>
                            Подобрать
                        </button>
                    </a>
                    <p className="card-description" style='margin: 10px 0 0 0'>
                        Подберите бокал для вина. Правильно выбранная форма бокала позволяет отразить особый характер
                        вина.
                    </p>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function toggleAlertMobile() {
                var buttonVisibleAlert = document.getElementById("alertMobile");
                if (buttonVisibleAlert.style.display === "none") {
                    buttonVisibleAlert.style.display = "block";
                } else {
                    buttonVisibleAlert.style.display = "none";
                }
            };
        </script>
        <!-- End Alert Mobile -->

        <!-- News -->

        <div id='itemsNews' style='align-items: center;'>
            <div class='section text-center' style='padding: 70px 0 0 0'>
                <div class='container'>
                    <div class='row'>
                        <div class='col ml-auto mr-auto md=8'>
                            <h2 class='title'>Новости и анонсы</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class='container'>
                <div class='row'>
                    <div class='col-md-12'>
                        <div class="nav-tabs-navigation" style='border-bottom: 1px solid #f1eae0;'>
                            <div class="nav-tabs-wrapper">
                                <ul id="tabs" class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#news" role="tab">Новости</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#announcements"
                                            role="tab">Анонсы</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="my-tab-content" class="tab-content text-center">
                            <div class="tab-pane active" id="news" role="tabpanel">


                                {% if popular_list %}
                                <ul class="list-group">
                                    <li class="list-group-item active"><strong>Популярные публикации за неделю</strong>
                                    </li>
                                    {% for pop_article in popular_list %}
                                    <li class="list-group-item">
                                        <a
                                            href="{% url 'post:article' pop_article.article_id %}">{{ pop_article.article__title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                                {% for article in articles %}
                                <!-- Новость -->
                                <div class='card'>
                                    <div class='card-header' style='border-radius: 12px 12px 0 0;'>
                                        <div class='container'>
                                            <div class='row'>
                                                <div class='col-md-3'>
                                                </div>
                                                <div class='col-md-6'>
                                                    <h4>{{article.title}}</h4>
                                                </div>
                                                <div class='col-md-3'>
                                                    <span id='browser-view-display'
                                                        style="text-align: right; float: right; margin-top: 30px">Опубликовано:
                                                        {{article.date|date:"d-m-Y"}}</span>
                                                    <span id='mobile-view-display'
                                                        style="text-align: center; margin-top: 30px">Опубликовано:
                                                        {{article.date|date:"d-m-Y"}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='card-body'>
                                        <div class='container'>
                                            <div class='space-top'></div>
                                            <div class='row'>
                                                <div class='col-md-11 ml-auto mr-auto'>
                                                    {% if article.image %}
                                                    <img id='picOfNews' class='card'
                                                        style='border-radius: 12px; float: left' width='400'
                                                        height='auto' class='img-rounded img-responsive'
                                                        src='{{article.image.url}}' />
                                                    {% else %}
                                                    <img id='picOfNews' class='card'
                                                        style='border-radius: 12px; float: left' width='400'
                                                        height='auto' class='img-rounded img-responsive' src='{{''}}' />
                                                    {% endif %}
                                                    <h3 class="card-title" style='margin-top: 40px'>
                                                        <a style='text-align: center;' href='#pablo'>
                                                            <h6 class='card-category'>
                                                                {{article.title}}
                                                            </h6>
                                                        </a>
                                                    </h3>
                                                    <div class='col' style='padding-right: 0px; padding-left: 0px;'>
                                                        <div class='card-text card-description'
                                                            style='text-align: justify; text-indent: 2.5em'>
                                                            <article>
                                                                {{article.post|safe}}
                                                                <div style='padding: 30px 0'>
                                                                    {% if article.pdf %}
                                                                    <iframe src='{{ article.pdf }}' class='card'
                                                                        style='width: 100%; height: 500px; border: none '></iframe>
                                                                    {% else %}
                                                                    <iframe src='{{''}}' class='card'
                                                                        style='width: 100%; height: 500px; border: none; ; display: none '></iframe>
                                                                </div>
                                                                {% endif %}
                                                            </article>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Конец Новости -->
                                <!-- Pagination (Новости) -->
                                <nav>
                                    <ul class="pagination pagination-primary justify-content-center"
                                        style='padding: 40px'>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</span></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- End Pagination (Новости) -->
                            </div>

                            <div class="tab-pane" id="announcements" role="tabpanel">
                                {% for announcement in announcements %}
                                <!-- Анонс -->
                                <div class='card'>
                                    <div class='card-header' style='border-radius: 12px 12px 0 0;'>
                                        <div class='container'>
                                            <div class='row'>
                                                <div class='col-md-3'>
                                                </div>
                                                <div class='col-md-6'>
                                                    <h4>{{announcement.title}}</h4>
                                                </div>
                                                <div class='col-md-3'>
                                                    <span id='browser-view-display'
                                                        style="text-align: right; float: right; margin-top: 30px">Опубликовано:
                                                        {{announcement.date|date:"d-m-Y"}}</span>
                                                    <span id='mobile-view-display'
                                                        style="text-align: center; margin-top: 30px">Опубликовано:
                                                        {{announcement.date|date:"d-m-Y"}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='card-body'>
                                        <div class='container'>
                                            <div class='space-top'></div>
                                            <div class='row'>
                                                <div class='col-md-11 ml-auto mr-auto'>
                                                    {% if announcement.image %}
                                                    <img id='picOfNews' class='card'
                                                        style='border-radius: 12px; float: left' alt='...' width='400'
                                                        height='auto' class='img-rounded img-responsive'
                                                        src='{{announcement.image.url}}' />
                                                    {% else %}
                                                    <img id='picOfNews' class='card'
                                                        style='border-radius: 12px; float: left' alt='...' width='400'
                                                        height='auto' class='img-rounded img-responsive' src='{{''}}' />
                                                    {% endif %}
                                                    <h3 class="card-title" style='margin-top: 40px'>
                                                        <a style='text-align: center;' href='#pablo'>
                                                            <h6 class='card-category'>
                                                                {{announcement.title}}
                                                            </h6>
                                                        </a>
                                                    </h3>
                                                    <div class='col' style='padding-right: 0px; padding-left: 0px;'>
                                                        <div class='card-text card-description'
                                                            style='text-align: justify; text-indent: 2.5em'>
                                                            <article>
                                                                {{announcement.post|safe}}
                                                            </article>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                <!-- Конец анонса -->
                                <!-- Pagination (Анонсы) -->
                                <nav>
                                    <ul class="pagination pagination-primary justify-content-center"
                                        style='padding: 40px'>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</span></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- End Pagination (Анонсы) -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End News -->



        <!-- Footer -->
        <div style='width: 100%; position: static; bottom: 0px'>
            <footer class="footer footer-black footer-white">
                <div class="container">
                    <div class="row" style='display: flex; justify-content: center;'>
                        <span class="copyright" style='line-height: 50px;'>
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>&nbsp;<i class="fa fa-heart heart"></i> by Dzhydzhula Mariia and Nozhko Tatiana
                        </span>
                    </div>
                </div>
            </footer>
        </div>
        <!-- End Footer -->

    </div>

    <!--   Core JS Files   -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script> -->
    <script src="/static/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/static/js/core/bootstrap.min.js" type="text/javascript"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="/static/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="/static/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/static/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="/static/js/plugins/moment.min.js"></script>
    <script src="/static/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="/static/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
    <script src="/static/js/paper-kit.min.js?v=2.3.0" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->

    <!-- Костомный googleTranslate -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/static/js/google-translate.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
    <!-- End Костомный googleTranslate -->

    <!-- Feedback -->
    <script src='/static/js/feedback.js'></script>
    <script src='/static/js/maskedinput/jquery.maskedinput.min.js'></script>
    <!-- End Feedback -->

    <!-- ReadMoreLess -->
    <script src="/static/js/Read-more-less-content-toggle/readMoreJS.js"></script>
    <!-- End ReadMoreLess -->

    <!-- Cookies -->
    <script src="/static/js/cookies/jquery.cookie.js"></script>
    <!-- End Cookies -->

    <!-- Cookies -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#close1").click(function () {
                var date = new Date();
                var date = new Date();
                date.setTime(date.getTime() + (60 * 1000));
                $.cookie("alertDesktop", "", {
                    expires: date,
                    path: '/'
                });
                $("#alertDesktop").hide();
            });

            if ($.cookie("alertDesktop") == null) {
                setTimeout(function () {
                    $("#alertDesktop").show();
                }, 4000)
            } else {
                $("#alertDesktop").hide();
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#close2").click(function () {
                var date = new Date();
                var date = new Date();
                date.setTime(date.getTime() + (60 * 1000));
                $.cookie("alertMobile", "", {
                    expires: date,
                    path: '/'
                });
                $("#alertMobile").hide();
            });

            if ($.cookie("alertMobile") == null) {
                setTimeout(function () {
                    $("#alertMobile").show();
                }, 4000)
            } else {
                $("#alertMobile").hide();
            }
        });
    </script>
    <!-- End Cookies -->

    <!-- Preloader -->
    <script type="text/javascript">
        $(window).on('load', function () {
            var $preloader = $('#preloader');
            // $svg_anm   = $preloader.find('.svg_anm');
            // $svg_anm.fadeOut();
            $preloader.delay(500).fadeOut(400);

        });
    </script>
    <!-- End Preloader -->

    <!-- $(window).load(function() {
        if (!window.localStorage.getItem('preloaderIsShown')) {
          setTimeout(function() {
            $('#preloader').fadeOut('slow');
            window.localStorage.setItem('preloaderIsShown', true);
          }, 2000);
        } else {
                $('#preloader').css('display', 'none');
        }
      }); -->

    <!-- Feedback -->
    <script type='text/javascript'>
        $(document).ready(function () {
            $('#reset').click(function () {
                $('#feedback-modal').modal('hide');
            });
            $('#close').click(function () {
                $('#feedback-modal').modal('hide');
            });
        });

        document.getElementById("reset").onclick = function (e) {
            document.getElementById("submitted").innerHTML = "";
        }

        document.getElementById("close").onclick = function (e) {
            document.getElementById("submitted").innerHTML = "";
        }

        $(function () {
            $("#inputPhone").mask("+38 (099) 999 99 99");
        });
    </script>
    <!-- End Feedback -->

    <script>
        $readMoreJS.init({
            target: 'article',
            numOfWords: 50,
            toggle: true,
            moreLink: 'Читать далее',
            lessLink: 'Свернуть'
        });
    </script>

</body>

</html>