<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons//apple-icon.png">
    <link rel="apple-touch-icon" href="/static/img/favicons/logo192.png" />
    <link rel="apple-touch-icon" href="/static/img/favicons/logo512.png" />
    <link rel="icon" type="image/png" href="/static/img/favicons//favicon.png">
    <link rel="shortcut icon" sizes="64x64" href="/static/img/favicons//favicon.ico" />
    <link rel="shortcut icon" sizes="48x48" href="/static/img/favicons//favicon48.ico" />
    <link rel="shortcut icon" sizes="32x32" href="/static/img/favicons//favicon32.ico" />
    <link rel="shortcut icon" sizes="16x16" href="/static/img/favicons//favicon16.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Лаборатория сенсорного анализа ОНАПТ
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/paper-kit.min.css?v=2.3.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/static/demo/demo.css" rel="stylesheet" />

    <link href="/static/css/media-query.css" rel="stylesheet" />
    <link href="/static/css/footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/google-translate.css">

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>

<body>

    <body class="index-page sidebar-collapse page_fix">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg nav-down bg-white fixed-top bg-info">
            <div class="container">
                <div class="navbar-translate">
                    <a class="navbar-brand" href="#">Меню</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-primary">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'articles_list' %}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about_us' %}">О нас</a>
                        </li>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton"
                                href="#pk" role="button" aria-haspopup="true" aria-expanded="false">Учебная
                                деятельность</a>
                            <ul class="dropdown-menu dropdown-info dropdown-menu-right"
                                aria-labelledby="dropdownMenuButton">
                                <li class="dropdown-header">Учебная деятельность</li>
                                <a class="dropdown-item" href="{% url 'educational_program' %}">Образовательная
                                    программа</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'training' %}">Повышение квалификации</a>
                            </ul>
                        </div>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton"
                                href="#pk" role="button" aria-haspopup="true" aria-expanded="false">Научная
                                деятельность</a>
                            <ul class="dropdown-menu dropdown-info dropdown-menu-right"
                                aria-labelledby="dropdownMenuButton">
                                <li class="dropdown-header">Научная деятельность</li>
                                <a class="dropdown-item" href="#pk">Проекты</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#pk">R&D-проекты</a>
                            </ul>
                        </div>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton"
                                href="#pk" role="button" aria-haspopup="true" aria-expanded="false">Архив</a>
                            <ul class="dropdown-menu dropdown-info dropdown-menu-right"
                                aria-labelledby="dropdownMenuButton">
                                <li class="dropdown-header">Архив</li>
                                <a class="dropdown-item" href="/photoGallery">Фотогалерея</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'video_list' %}">Видеогалерея</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'articles_list' %}">Новости и анонсы</a>
                            </ul>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='#' data-toggle="modal" data-target="#feedback-modal">Обратная
                                связь</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <div id='wines'>
            <div class="main">
                <div class="section section-gray" style='padding-top: 110px'>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ml-auto mr-auto text-center">
                                <button class="btn btn-move-left btn-round" onclick="history.back();"><i
                                        class="nc-icon nc-minimal-left"></i> Назад</button>
                                <h2 class="title">Выбор бокала по типу вина</h2>
                                <h5 class="description">Выберите вино, к которому желаете подобрать бокал</h5>
                            </div>
                        </div>
                        <div class="space-top" style='padding-top: 30px'></div>
                        <div class="row">
                            <div class="col-md-3 ml-auto mr-auto">
                                <div class="card" data-background="image"
                                    style="background-image: url('/static/img/wines/sparkling-1.jpg')">
                                    <div class="card-body">
                                        <h6 class="card-category">Игристое</h6>
                                        <div class="card-icon">
                                            <i class="fa" style='width: 150px; height: 150px; line-height: 150px'><img
                                                    src='/static/img/wines/sparkling-2.png'
                                                    style='height: 80px; border-radius: 0'></img></i>
                                        </div>
                                        <div class="card-footer" style='margin-top: 30px'>
                                            <a href="#pablo" class="btn btn-outline-neutral btn-round"
                                                style='border-width: 2px;'>
                                                Выбрать
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mr-auto">
                                <div class="card" data-background="image"
                                    style="background-image: url('/static/img/rouge.jpg')">
                                    <div class="card-body">
                                        <h6 class="card-category" style='font-weight: 600'>Красное</h6>
                                        <div class="card-icon">
                                            <i class="fa" style='width: 150px; height: 150px; line-height: 150px'><img
                                                    src='/static/img/wines/red-2.png'
                                                    style='height: 80px; border-radius: 0'></img></i>
                                        </div>
                                        <div class="card-footer" style='margin-top: 30px'>
                                            <a href="{% url 'red_wine' %}" class="btn btn-outline-neutral btn-round"
                                                style='border-width: 2px;'>
                                                Выбрать
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 mr-auto">
                                <div class="card" data-background="image"
                                    style="background-image: url('/static/img/wines/rose-1.jpg')">
                                    <div class="card-body">
                                        <h6 class="card-category">Розовое</h6>
                                        <div class="card-icon">
                                            <i class="fa" style='width: 150px; height: 150px; line-height: 150px'><img
                                                    src='/static/img/wines/rose-2.png'
                                                    style='height: 80px; border-radius: 0'></img></i>
                                        </div>
                                        <div class="card-footer" style='margin-top: 30px'>
                                            <a href="#pablo" class="btn btn-outline-neutral btn-round"
                                                style='border-width: 2px;'>
                                                Выбрать
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-top"></div>
                        <div class="row">
                            <div class="col-md-3 ml-auto mr-auto">
                                <div class="card" data-background="image"
                                    style="background-image: url('/static/img/wines/dessert-1.jpg')">
                                    <div class="card-body">
                                        <h6 class="card-category">Десертное</h6>
                                        <div class="card-icon">
                                            <i class="fa" style='width: 150px; height: 150px; line-height: 150px'><img
                                                    src='/static/img/wines/dessert-2.png'
                                                    style='height: 80px; border-radius: 0'></img></i>
                                        </div>
                                        <div class="card-footer" style='margin-top: 30px'>
                                            <a href="#pablo" class="btn btn-outline-neutral btn-round"
                                                style='border-width: 2px;'>
                                                Выбрать
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mr-auto">
                                <div class="card" data-background="image"
                                    style="background-image: url('/static/img/wines/white.jpg')">
                                    <div class="card-body">
                                        <h6 class="card-category" style='font-weight: 600'>Белое</h6>
                                        <div class="card-icon">
                                            <i class="fa" style='width: 150px; height: 150px; line-height: 150px'><img
                                                    src='/static/img/wines/white-2.png'
                                                    style='height: 80px; border-radius: 0'></img></i>
                                        </div>
                                        <div class="card-footer" style='margin-top: 30px'>
                                            <a href="{% url 'white_whine' %}" class="btn btn-outline-neutral btn-round"
                                                style='border-width: 2px;'>
                                                Выбрать
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 mr-auto">
                                <div class="card" data-background="image"
                                    style="background-image: url('/static/img/wines/fortified-1.jpg')">
                                    <div class="card-body">
                                        <h6 class="card-category">Креплёное</h6>
                                        <div class="card-icon">
                                            <i class="fa" style='width: 150px; height: 150px; line-height: 150px'><img
                                                    src='/static/img/wines/fortified-2.png'
                                                    style='height: 80px; border-radius: 0'></img></i>
                                        </div>
                                        <!-- <h3 class="card-title">$199</h3> -->
                                        <!-- <p class="card-description">
                                                    This is good if you are a freelancer of photographer.
                                                </p> -->
                                        <div class="card-footer" style='margin-top: 30px'>
                                            <a href="#pablo" class="btn btn-outline-neutral btn-round"
                                                style='border-width: 2px;'>
                                                Выбрать
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Обратная связь -->
            <div id='feedback'>
                <!-- Modal -->
                <div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog"
                    aria-labelledby="feedback-modal-title" style="padding-left: 0">
                    <div class="modal-dialog" role="document" style='max-width: 545px'>
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="feedback-modal-title">Обратная связь</h5>
                                <button id='close' type="reset" form='feedback-form' class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Форма -->
                                <form id='feedback-form' method="POST" novalidate>
                                    <div class="form-group">
                                        <label for="name">
                                            ФИО/Организация <span style='color: #F7765F'>*</span>
                                        </label>
                                        <div id='name-input-group' class='input-group'>
                                            <div class='input-group-prepend'>
                                                <span class='input-group-text' style='border-left: ""'>
                                                    <i class='nc-icon nc-single-02'></i>
                                                    <!-- <i class="fa fa-group"></i> -->
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="name" oninput="validateName()"
                                                placeholder="ФИО или организация">
                                        </div>
                                        <small id='small-name' class="form-text text-danger"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="job">
                                            Должность
                                        </label>
                                        <div class='input-group'>
                                            <div class='input-group-prepend'>
                                                <span class='input-group-text'>
                                                    <i class='nc-icon nc-badge'></i>
                                                    <!-- <i class="fa fa-group"></i> -->
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="job" placeholder="Должность">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 form-group">
                                            <label for="inputEmail">
                                                Email <span style='color: #F7765F'>*</span>
                                            </label>
                                            <div id='email-input-group' class='input-group'>
                                                <div class='input-group-prepend'>
                                                    <span class='input-group-text'>
                                                        <i class='nc-icon nc-email-85'></i>
                                                    </span>
                                                </div>
                                                <input type="email" class="form-control" id="inputEmail"
                                                    oninput="validateEmail()" aria-describedby="helper"
                                                    placeholder="name@example.com">
                                            </div>
                                            <small id='small-email' class="form-text text-danger"></small>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label for="inputPhone">Телефон</label>
                                            <div class='input-group'>
                                                <div class='input-group-prepend'>
                                                    <span class='input-group-text'>
                                                        <i class='nc-icon nc-mobile'></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="inputPhone"
                                                    aria-describedby="helper" placeholder="+38 (0__) ___ __ __">
                                            </div>
                                        </div>
                                        <div class="col col-md-12 form-group" style="margin-top: -1rem;">
                                            <small id="helper" class="form-text text-muted">Мы
                                                никому не сообщим Ваши контактные данные.</small>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="inputText">
                                            Сообщение <span style='color: #F7765F'>*</span>
                                        </label>
                                        <textarea class="form-control" id='inputText' oninput="validateText()"
                                            placeholder='Введите Ваше обращение' rows="3"></textarea>
                                        <small id='small-input-text' class="form-text text-danger"></small>
                                    </div>
                                    <span id='submitted' style='color:rgb(134, 217, 171); font-weight: 500;'></span>
                                </form>
                                <!-- Конец формы -->
                            </div>
                            <!-- Кнопки формы -->
                            <div class="modal-footer">
                                <div class="left-side">
                                    <button id='submit' type="submit" class="btn btn-default btn-link"
                                        form='feedback-form' value="Submit">Отправить</button>
                                </div>
                                <div class="divider"></div>
                                <div class="right-side">
                                    <button id='reset' type='reset' form='feedback-form'
                                        class="btn btn-danger btn-link">Закрыть</button>
                                </div>
                            </div>
                            <!-- Кнопки формы -->
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
            </div>
            <!-- End Обратная свзяь  -->

            <footer class="footer footer-big footer-black">
                <div class="container">
                    <div class="row">

                        <div class="col-md-9 ml-auto mr-auto col-sm-9 col-12">
                            <div class="row">
                                <div class='col-md-3'></div>
                                <div class="col-md-7 col-6">
                                    <div class="form-group dropup" style='width: 100px; float: right;'>
                                        <select id='select-language' class='selectpicker' s data-size='4'
                                            data-style="btn btn-default btn-round">
                                            <option value="ru">RU</option>
                                            <option value="ukr">UKR</option>
                                            <option value="eng">ENG</option>
                                            >
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2 col-6">
                                    <div class="social-area" style='float: right;'>

                                        <a class="btn btn-just-icon btn-round btn-facebook" style='margin: 0 25px 0 0'
                                            href='https://www.facebook.com/groups/1887286424849270' target="_blank">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-just-icon btn-round btn-dribbble" style='margin: 0 0px'
                                            href='https://www.instagram.com/lsa_onaft/' target="_blank">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class='row'>
                                <div class='col-md-3'></div>
                                <div class='col-md-6'>
                                    <div style='text-align: center;'>
                                        <span class="copyright">
                                            ©
                                            <script>
                                                document.write(new Date().getFullYear())
                                            </script>&nbsp;<i class="fa fa-heart heart"></i> by Dzhydzhula Mariia and
                                            Nozhko Tatiana
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class="links pull-right">
                                        <ul>
                                            <li>
                                                <a href="{% url 'articles_list' %}">
                                                    LSA ONAFT
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>


        <!--   Core JS Files   -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script> -->
        <script src="/static/js/core/jquery.min.js" type="text/javascript"></script>
        <script src="/static/js/core/popper.min.js" type="text/javascript"></script>
        <script src="/static/js/core/bootstrap.min.js" type="text/javascript"></script>
        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src="/static/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
        <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
        <script src="/static/js/plugins/bootstrap-switch.js"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="/static/js/plugins/nouislider.min.js" type="text/javascript"></script>
        <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
        <script src="/static/js/plugins/moment.min.js"></script>
        <script src="/static/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
        <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <script src="/static/js/plugins/bootstrap-tagsinput.js"></script>
        <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
        <script src="/static/js/paper-kit.min.js?v=2.3.0" type="text/javascript"></script>
        <!--  Google Maps Plugin    -->
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->

        <!-- Костомный googleTranslate -->
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="/static/js/google-translate.js"></script>
        <script src="https://translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
        <!-- End Костомный googleTranslate -->

        <!-- Feedback -->
        <script src='/static/js/feedback.js'></script>
        <script src='/static/js/maskedinput/jquery.maskedinput.min.js'></script>
        <!-- End Feedback -->

        <!-- Feedback -->
        <script type='text/javascript'>
            $(document).ready(function () {
                $('#reset').click(function () {
                    $('#feedback-modal').modal('hide');
                });
                $('#close').click(function () {
                    $('#feedback-modal').modal('hide');
                });
            });

            document.getElementById("reset").onclick = function (e) {
                document.getElementById("submitted").innerHTML = "";
            }

            document.getElementById("close").onclick = function (e) {
                document.getElementById("submitted").innerHTML = "";
            }

            $(function () {
                $("#inputPhone").mask("+38 (099) 999 99 99");
            });
        </script>
        <!-- End Feedback -->

    </body>

</html>